@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h1>

    <button type="button" class="btn btn-outline-primary" ><a href="@Url.Action("SignOut","Admin")">Logout</a></button>

    <button type="button" class="btn btn-outline-primary" ><a href="@Url.Action("AddAdmin","Home")">Add admin</a></button>

    


}


