
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Us</h1>

<p>We are a small company located in the north of spain right on the atlantic ocean. </p>
<p>This gives us the opportunity to surf almost all year round and meet a lot of surfers.</p>

<p></p>

<p>Thanks to our experience in the world of sport and the collaboration with the best companies in the world we can give you a unique experience in buying sports equipment</p>

<script>

    document.getElementById("AboutButton").classList.add('active');
    document.getElementById("HomeButton").classList.remove('active');
    document.getElementById("LocationButton").classList.remove('active');
</script>
