@{
    ViewBag.Title = "PayOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ordered successfuly</h2>

<p>We sent you a email confirmation with the details of your order.</p>

<p>Please feel free to contact us for any question.</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
